[submodule "lang1-lang2/scripts/transformer"]
	path = lang1-lang2/scripts/transformer
	url = git@github.com:sugi-a/transformer.git
[submodule "scripts/transformer"]
	path = scripts/transformer
	url = git@github.com:sugi-a/transformer.git
[submodule "scripts/preprocess-scripts"]
	path = scripts/preprocess-scripts
	url = git@github.com:sugi-a/preprocess-scripts
[submodule "scripts/mosesdecoder"]
	path = scripts/mosesdecoder
	url = https://github.com/moses-smt/mosesdecoder.git
[submodule "scripts/corpus_formatters"]
	path = scripts/corpus_formatters
	url = git@github.com:sugi-a/corpus_formatters.git
